@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@theme {
  --color-*: initial;

  --color-orange-50: #ffdfcc;
  --color-orange-100: #ffaf80;
  --color-orange-200: #ff904c;
  --color-orange-300: #ff8033;
  --color-orange-400: #ff7019;
  --color-orange-500: #ff6000;
  --color-orange-600: #e55600;
  --color-orange-700: #cc4d00;
  --color-orange-800: #993a00;
  --color-orange-900: #662600;
  --color-orange-950: #331300;

  --color-gray-50: #f2f2f2;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #cccccc;
  --color-gray-300: #b3b3b3;
  --color-gray-400: #999999;
  --color-gray-500: #808080;
  --color-gray-600: #666666;
  --color-gray-700: #4c4c4c;
  --color-gray-800: #333333;
  --color-gray-900: #262626;
  --color-gray-950: #1a1a1a;

  --color-red-50: #ffe5e5;
  --color-red-100: #ffb2b2;
  --color-red-200: #ff8080;
  --color-red-300: #ff4c4c;
  --color-red-400: #ff0000;
  --color-red-500: #e50000;
  --color-red-600: #cc0000;
  --color-red-700: #990000;
  --color-red-800: #660000;
  --color-red-900: #330000;
  --color-red-950: #190000;

  --color-green-50: #ccffcc;
  --color-green-100: #99ff99;
  --color-green-200: #4cff4c;
  --color-green-300: #00ff00;
  --color-green-400: #00e500;
  --color-green-500: #00cc00;
  --color-green-600: #00a600;
  --color-green-700: #008c00;
  --color-green-800: #007300;
  --color-green-900: #004c00;
  --color-green-950: #002600;

  --color-blue-50: #cce1ff;
  --color-blue-100: #99c3ff;
  --color-blue-200: #66a6ff;
  --color-blue-300: #3388ff;
  --color-blue-400: #006aff;
  --color-blue-500: #0060e5;
  --color-blue-600: #0050bf;
  --color-blue-700: #0045a6;
  --color-blue-800: #003a8c;
  --color-blue-900: #003073;
  --color-blue-950: #002559;

  --color-black: #000000;
  --color-white: #ffffff;

  --color-brand: var(--color-orange-500);
  --color-brand-sub: var(--color-orange-50);
  --color-secondary: var(--color-black);
  --color-error: var(--color-red-500);
  --color-success: var(--color-green-600);
  --color-info: var(--color-blue-500);
  --color-bg: #fbfbfb;

  --color-text-title-1: var(--color-black);
  --color-text-title-2: var(--color-gray-950);
  --color-text-body-1: var(--color-gray-800);
  --color-text-body-2: var(--color-gray-700);
  --color-text-sub-1: var(--color-gray-600);
  --color-text-sub-2: var(--color-gray-500);
  --color-text-info: var(--color-gray-400);

  --font-family-base: 'Inter', sans-serif;
  --font-family-display: 'Helvetica Now Display', 'Inter', sans-serif;

  --typography-label-normal-font-family: var(--font-family-base);
  --typography-label-normal-font-size: 1rem;
  --typography-label-normal-font-weight: 500;
  --typography-label-normal-line-height: 1.5rem;
  --typography-label-normal-letter-spacing: 0;

  --typography-title-font-family: var(--font-family-display);
  --typography-title-font-size: 1.875rem;
  --typography-title-font-weight: 700;
  --typography-title-line-height: 2.8125rem;
  --typography-title-letter-spacing: 0.025em;

  --typography-h1-font-family: var(--font-family-display);
  --typography-h1-font-size: 1.625rem;
  --typography-h1-font-weight: 700;
  --typography-h1-line-height: 2.4375rem;
  --typography-h1-letter-spacing: 0.025em;

  --typography-h2-font-family: var(--font-family-base);
  --typography-h2-font-size: 1.375rem;
  --typography-h2-font-weight: 700;
  --typography-h2-line-height: 2.0625rem;
  --typography-h2-letter-spacing: 0;

  --typography-h3-font-family: var(--font-family-base);
  --typography-h3-font-size: 1.25rem;
  --typography-h3-font-weight: 700;
  --typography-h3-line-height: 1.875rem;
  --typography-h3-letter-spacing: 0;

  --typography-h4-font-family: var(--font-family-base);
  --typography-h4-font-size: 1.25rem;
  --typography-h4-font-weight: 500;
  --typography-h4-line-height: 1.875rem;
  --typography-h4-letter-spacing: 0;

  --typography-body-1-font-family: var(--font-family-base);
  --typography-body-1-font-size: 1.125rem;
  --typography-body-1-font-weight: 500;
  --typography-body-1-line-height: 1.6875rem;
  --typography-body-1-letter-spacing: 0;

  --typography-body-2-strong-font-family: var(--font-family-base);
  --typography-body-2-strong-font-size: 1rem;
  --typography-body-2-strong-font-weight: 700;
  --typography-body-2-strong-line-height: 1.5rem;
  --typography-body-2-strong-letter-spacing: 0;

  --typography-body-2-font-family: var(--font-family-base);
  --typography-body-2-font-size: 1rem;
  --typography-body-2-font-weight: 500;
  --typography-body-2-line-height: 1.5rem;
  --typography-body-2-letter-spacing: 0;

  --typography-caption-1-font-family: var(--font-family-base);
  --typography-caption-1-font-size: 0.875rem;
  --typography-caption-1-font-weight: 500;
  --typography-caption-1-line-height: 1.3125rem;
  --typography-caption-1-letter-spacing: 0;

  --typography-caption-2-font-family: var(--font-family-base);
  --typography-caption-2-font-size: 0.75rem;
  --typography-caption-2-font-weight: 500;
  --typography-caption-2-line-height: 1.125rem;
  --typography-caption-2-letter-spacing: 0;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-family-base);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-bg);
  --foreground: var(--color-black);
  --card: var(--color-white);
  --card-foreground: var(--color-black);
  --popover: var(--color-white);
  --popover-foreground: var(--color-black);
  --primary: var(--color-brand);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-gray-100);
  --secondary-foreground: var(--color-gray-800);
  --muted: var(--color-gray-50);
  --muted-foreground: var(--color-gray-500);
  --accent: var(--color-brand-sub);
  --accent-foreground: var(--color-orange-800);
  --destructive: var(--color-error);
  --border: var(--color-gray-200);
  --input: var(--color-gray-200);
  --ring: var(--color-brand);
  --chart-1: var(--color-brand);
  --chart-2: var(--color-info);
  --chart-3: var(--color-success);
  --chart-4: var(--color-red-300);
  --chart-5: var(--color-orange-300);
  --sidebar: var(--color-gray-50);
  --sidebar-foreground: var(--color-black);
  --sidebar-primary: var(--color-brand);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-brand-sub);
  --sidebar-accent-foreground: var(--color-orange-800);
  --sidebar-border: var(--color-gray-200);
  --sidebar-ring: var(--color-brand);
}

.dark {
  --background: var(--color-gray-950);
  --foreground: var(--color-gray-50);
  --card: var(--color-gray-900);
  --card-foreground: var(--color-gray-50);
  --popover: var(--color-gray-900);
  --popover-foreground: var(--color-gray-50);
  --primary: var(--color-orange-400);
  --primary-foreground: var(--color-white);
  --secondary: var(--color-gray-800);
  --secondary-foreground: var(--color-gray-50);
  --muted: var(--color-gray-800);
  --muted-foreground: var(--color-gray-400);
  --accent: var(--color-orange-800);
  --accent-foreground: var(--color-orange-50);
  --destructive: var(--color-red-300);
  --border: var(--color-gray-800);
  --input: var(--color-gray-700);
  --ring: var(--color-orange-400);
  --chart-1: var(--color-orange-400);
  --chart-2: var(--color-blue-300);
  --chart-3: var(--color-green-400);
  --chart-4: var(--color-red-200);
  --chart-5: var(--color-orange-200);
  --sidebar: var(--color-gray-900);
  --sidebar-foreground: var(--color-gray-50);
  --sidebar-primary: var(--color-orange-400);
  --sidebar-primary-foreground: var(--color-white);
  --sidebar-accent: var(--color-orange-800);
  --sidebar-accent-foreground: var(--color-orange-50);
  --sidebar-border: var(--color-gray-800);
  --sidebar-ring: var(--color-orange-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
